<%- include('partials/header'); -%>



<div class="display-container">

  <div class="header">
    <div class="contorizare-raspunsuri">
      <span class="raspuns-corect bg-success"><span id="ras_cor"><%= result.correct %></span> raspunsuri corecte</span>
      <span class="raspuns-gresit bg-danger"><span id="ras_gre"><%= result.wrong %></span> raspunsuri gresite</span>
    </div>

  </div>

<div id="container">

<% if(result.correct > 21){ %>
  <div class="quiz">
    <h1 id="abcd">Felicitari! Ati fost declarat ADMIS. Ati facut <%= result.correct %> puncte.</h1>
  </div>
<% } else{ %>
  <div class="quiz">
    <h1 id="abcd">Ne pare rau! Ati fost declarat RESPINS. Ati facut <%= result.correct %> puncte.</h1>
  </div>
<% } %>

<button onClick="window.location.href='/quizz6';" id="yellow-button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>Mai fac un test</button>
  </div>
</div>
<%- include('partials/footer'); -%>
